@page
@model ToolsForHire.Pages.ListModel
@{
    ViewData["Title"] = "List";
}

<h1>List of products</h1>

<form asp-page="./List" method="get">
    <div class="form-actions no-color">
        <p>
            Enter a product code or product name to search:
            <input asp-for="SearchString" type="search" name="SearchString" value="@Model.SearchString" />
            <br />
            Hire date:
            <input asp-for="HireStartDate" type="date" name="HireStartDate" value="@Model.HireStartDate" />
            Return date:
            <input asp-for="HireEndDate" type="date" name="HireEndDate" value="@Model.HireEndDate" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <br />
            <a asp-page="./Index" class="">Back to home page</a>
        </p>
    </div>
</form>

<table class="table">
    <tr>
        <th>Product Code</th>
        <th>Product Name</th>
        <th>Daily Hire Cost</th>
        @if (Model.HireStartDate.Year != 0001 && Model.HireEndDate.Year != 0001)
        {
            <th>Total Hire Cost</th>
        }
    </tr>
    @foreach (var product in Model.Products)
    {
        <tr>
            <td>@product.ProductCode</td>
            <td>@product.ProductName</td>
            <td>£@product.DailyHireCost</td>
            @if(Model.HireStartDate.Year != 0001 && Model.HireEndDate.Year != 0001)
            {
                <td>£@Model.CalculateTotalCostOfHire(Model.HireStartDate, Model.HireEndDate, product.DailyHireCost)</td>
            }
        </tr>
    }
</table>